body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'GemunuLibre-ExtraBold', 'GemunuLibre-Light', 'GemunuLibre-SemiBold', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "GemunuLibre-ExtraBold";
  src: local("GemunuLibre-ExtraBold"),
    url("./fonts/GemunuLibre-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GemunuLibre-Light";
  src: local("GemunuLibre-Light"),
    url("./fonts/GemunuLibre-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GemunuLibre-SemiBold";
  src: local("GemunuLibre-SemiBold"),
    url("./fonts/GemunuLibre-SemiBold.ttf") format("truetype");
  font-weight: normal;
}